@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth; }

::-moz-selection {
  background: #2C3650;
  color: #fff; }

::selection {
  background: #2C3650;
  color: #fff; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  color: #fff;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 100%; }

a,
a:hover,
a:active,
a:focus,
button:active,
button:focus {
  text-decoration: none;
  outline: none; }

.container {
  max-width: 71.875em;
  margin: 0 auto; }

/* Clearfix */
.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
  content: " ";
  display: table; }

.container:after,
.group:after,
.main:after {
  clear: both; }

.container,
.group,
.main {
  *zoom: 1; }

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  font-size: 2em;
  color: #fff;
  background: #161B28;
  padding: 10px 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5); }
  .back-to-top:hover, .back-to-top:focus {
    color: #161B28;
    background: #fff; }

.back-to-top-hide {
  display: none; }

.site-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
  background: #2C3650;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }

.site-header-scroll {
  background: rgba(44, 54, 80, 0.95);
  font-size: 85%;
  -webkit-box-shadow: 0px 0px 1em black;
          box-shadow: 0px 0px 1em black;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out; }
  @media all and (max-width: 1050px) {
    .site-header-scroll {
      font-size: 75%; } }
  @media all and (max-width: 775px) {
    .site-header-scroll {
      font-size: 60%; } }

.menu-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.logo-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: .2em 0;
  text-align: center; }

.hamburger {
  position: absolute;
  top: 22px;
  right: 27px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: none;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px; }

.logo {
  color: #fff;
  border: solid 2px #fff;
  border-radius: 8px;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -5px;
  padding: 0 .2em 0 .1em; }
  .logo:hover, .logo:focus {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    color: #84A8E4;
    border: solid 2px #84A8E4;
    text-decoration: none; }

.main-menu {
  -webkit-box-flex: 3;
      -ms-flex: 3 0 auto;
          flex: 3 0 auto;
  text-align: center;
  margin: 0;
  padding: 0; }
  .main-menu li {
    display: inline-block;
    font-size: 1.2em; }
    .main-menu li a {
      display: block;
      color: #fff;
      font-weight: 300;
      padding: 1.2em;
      border-top: 5px solid transparent;
      scroll-behavior: smooth; }
      .main-menu li a:hover, .main-menu li a:focus {
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        color: #84A8E4;
        background: #313d5a; }
    .main-menu li .active {
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      color: #84A8E4;
      font-weight: 700;
      border-top: 5px solid #84A8E4; }

.socials {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 2em;
  text-align: center; }
  .socials a {
    color: #fff; }
    .socials a:hover, .socials a:focus {
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
      color: #84A8E4; }
    .socials a .fab {
      margin: .7em .3em; }

.mobile {
  display: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.post-header {
  width: 100%;
  padding: 10em 0 3em 0;
  background: url("../img/cover.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(44, 54, 80, 0.5);
          box-shadow: inset 0 0 0 1000px rgba(44, 54, 80, 0.5);
  font-size: 16px; }

.intro {
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }

.profile {
  display: block;
  width: 15em;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 0.25em #fff;
  -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5); }
  .profile:hover, .profile:focus {
    -webkit-box-shadow: 0px 0px 1em black;
            box-shadow: 0px 0px 1em black; }

.author-h1 {
  color: #fff;
  display: inline-block;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 1em;
  font-size: 2.5em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 2em auto 4em auto;
  padding: 0.7em; }
  .author-h1:hover, .author-h1:focus {
    cursor: default; }
  .author-h1 span:nth-child(1) {
    display: inline-block;
    color: #2C3650;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s; }
  .author-h1 span:nth-child(2) {
    display: inline-block;
    color: #161B28;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s; }

.description {
  background: #2C3650;
  padding: 6em 0; }

.description-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px; }

.description-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1em;
  margin-right: 15px; }
  .description-img img {
    max-width: 100%;
    max-height: 370px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5); }

.description-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .description-text .article-h {
    font-size: 2em;
    font-weight: 600;
    line-height: 2em; }
  .description-text p {
    font-size: 1em;
    padding: 1.5em 2em;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    line-height: 1.8em;
    letter-spacing: .1em;
    text-align: left; }

.projects {
  background: url("../img/projects-bg2.jpg") fixed center center no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(44, 54, 80, 0.7);
          box-shadow: inset 0 0 0 1000px rgba(44, 54, 80, 0.7);
  padding: 4em 0; }
  .projects .container {
    padding-bottom: 50px; }

.section-header {
  padding: 0;
  margin: 30px 0;
  text-align: center; }
  .section-header h2,
  .section-header a {
    display: inline-block;
    background: rgba(44, 54, 80, 0.9);
    border: 2px solid #fff;
    border-radius: 1em;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
    margin: 0 auto;
    padding: 0.5em 1em;
    -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5); }

.section-wrapper {
  padding: 1em; }

.section {
  padding: 0 0 1em;
  text-align: center;
  background: rgba(22, 27, 40, 0.85);
  border: 4px solid rgba(22, 27, 40, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0px 0px 2em #2C3650;
          box-shadow: 0px 0px 2em #2C3650;
  overflow: hidden; }
  .section:hover {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background: #161B28;
    border: 4px solid rgba(22, 27, 40, 0.9);
    -webkit-box-shadow: 0px 0px 1em black;
            box-shadow: 0px 0px 1em black; }
  .section h3 {
    font-weight: 300;
    padding: 0.7em 0.5em;
    margin: 0; }
  .section img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    height: auto; }
  .section .icons {
    display: block; }
    .section .icons .fab,
    .section .icons .fas {
      font-size: 2em;
      margin-right: 0.3em; }

.button-project {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px; }
  .button-project a {
    display: block;
    padding: 1em;
    background: #bada55;
    color: #000;
    border-radius: 5px;
    font-weight: 600; }
    .button-project a:hover, .button-project a:focus {
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      background: #c7f532;
      -webkit-box-shadow: 0px 0px 1em black;
              box-shadow: 0px 0px 1em black; }

.galerie {
  background: #2C3650;
  padding: 4em 0; }
  .galerie .section-header h2 {
    background: #161B28;
    color: #fff; }
  .galerie .more-gallery {
    margin-top: 0;
    text-align: center; }
    .galerie .more-gallery button {
      padding: 0;
      border: none;
      border-radius: 50%; }
    .galerie .more-gallery .if-collapsed,
    .galerie .more-gallery .if-not-collapsed {
      display: inline-block;
      background: #161B28;
      color: #fff;
      font-size: 2.5em;
      border: 2px solid #fff;
      border-radius: 50%;
      padding: .3em .5em; }
      .galerie .more-gallery .if-collapsed:hover,
      .galerie .more-gallery .if-not-collapsed:hover {
        color: #84A8E4;
        border: 2px solid #84A8E4; }

.galerie-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.5); }
  .galerie-content img:hover, .galerie-content img:focus {
    -webkit-box-shadow: 0px 0px 1em black;
            box-shadow: 0px 0px 1em black; }

/* přepínač znaménka na buttonu pro rozklinutí/skrytí galerie */
[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none; }
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none; }

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center; }

#overlay img {
  margin: 4% 0;
  width: 60%;
  height: auto; }

.kontakt {
  background: #000;
  padding: 4em 0; }

.kontakt-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.kontakt-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .kontakt-img .profile {
    border: 4px solid #999999; }

.kontakt-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .kontakt-info .kontakt-name h4 {
    color: #2C3650;
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0; }
  .kontakt-info .kontakt-function p {
    color: #2C3650;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .kontakt-info .address p {
    letter-spacing: 2px;
    line-height: 1.5em;
    color: #999999; }
  .kontakt-info .address a {
    color: #999999; }
    .kontakt-info .address a:hover, .kontakt-info .address a:focus {
      color: #84A8E4; }
  .kontakt-info .address .socials-contact p {
    letter-spacing: .5em; }
  .kontakt-info .address .socials-contact .fab {
    font-size: 1.5em; }

.footer {
  background: #0d0d0d; }
  .footer p {
    color: #4d4d4d;
    font-size: .8em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    padding: .4em 0;
    margin: 0; }

@media all and (max-width: 1050px) {
  .site-header {
    font-size: 85%; }

  .site-header-scroll {
    font-size: 75%; }

  .description {
    padding: 3em 0; }
    .description .description-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; }
    .description .description-img {
      max-width: 75%;
      margin: 0 auto 2em auto;
      padding: 0; }
    .description .description-text {
      max-width: 75%;
      margin: 0 auto; } }
@media all and (max-width: 1000px) {
  .author-h1 {
    font-size: 2em; }

  .project-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }

  .section {
    max-width: 75%;
    margin: 0 auto; }

  .back-to-top {
    display: none; } }
@media all and (max-width: 775px) {
  .menu-wrapper {
    padding: 5px 30px; }
    .menu-wrapper .logo-wrapper {
      -webkit-box-flex: 50%;
          -ms-flex: 50%;
              flex: 50%;
      text-align: left; }
    .menu-wrapper .hamburger {
      -webkit-box-flex: 50%;
          -ms-flex: 50%;
              flex: 50%;
      display: block; }
    .menu-wrapper .main-menu {
      -webkit-box-flex: 100%;
          -ms-flex: 100%;
              flex: 100%; }
      .menu-wrapper .main-menu li {
        display: block; }

  .author-h1 {
    font-size: 1.3em; }

  .description-content {
    font-size: .8em; }
    .description-content .article-h {
      font-size: 1.5em; }

  .projects {
    font-size: 75%; }

  .galerie .section-header h2 {
    font-size: 25px; }

  .kontakt-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    text-align: center; }
    .kontakt-content .kontakt-img {
      margin-bottom: 40px; } }
@media all and (max-width: 576px) {
  #overlay {
    display: none;
    z-index: -20; }
    #overlay img {
      display: none; } }

/*# sourceMappingURL=style.css.map */