/* ======================================================================================
VARIABLES
======================================================================================*/

$fnt-clr: #666;
$h2-clr: #333;
$menu-clr: #0099ff;
$btn-hover: #8ebd01;
$bg-clr: #fff;
$bg-pst-hd: #f3f3f3;
$pst-hd-br: #e2e2e2;

/* ======================================================================================
EM CALC
======================================================================================*/

$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/* ======================================================================================
OBECNÉ
======================================================================================*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  max-width: 100%;
  color: $fnt-clr;
  background: $bg-clr;
}

h1 {
  color: $h2-clr;
  margin: 0;
  font-family: "PT Serif", serif;
}

a,
a:hover,
a:active,
a:focus,
button:active,
button:focus {
  text-decoration: none;
  outline: none;
}

.wrapper {
  max-width: em(1260);
  margin: 0 auto;
  padding: 0 em(30);
}

/* Clearfix */

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
  content: " ";
  display: table;
}

.container:after,
.group:after,
.main:after {
  clear: both;
}

.container,
.group,
.main {
  *zoom: 1;
}

/* ======================================================================================
HEADER
======================================================================================*/

.site-header {
  margin: 0.75em 0;
}

.site-header-content {
  display: flex;
  .logo {
    flex: 1;
  }
  .site-menu {
    margin-left: auto;
  }
}

.nav {
  padding: em(9) 0;
  .nav-item {
    a {
      color: $menu-clr;
      display: block;
      font-size: 1em;
      padding: em(10) em(20);
      border: solid 1px #fff;
      &:hover,
      &:focus {
        color: $bg-clr;
        background: $menu-clr;
      }
    }
    .selected {
      color: $bg-clr;
      background: $menu-clr;
    }
  }
}

.hamburger {
  position: absolute;
  top: em(30);
  right: em(35);
  display: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  .line {
    width: 30px;
    height: 3px;
    background: $menu-clr;
    margin: 5px;
  }
}

.mobile {
  display: none;
  transition: all 1s ease-in-out;
}

@media all and (max-width: 992px) {
  .site-header-content {
    flex-flow: column;
    .site-menu {
      margin: 0 auto;
    }
    .nav-item {
      display: block;
    }
    .hamburger {
      display: inline-block;
    }
  }
}
@media all and (max-width: 480px) {
  .nav-item {
    font-size: 80%;
  }
}

/* ======================================================================================
POST HEADER
======================================================================================*/

.post-header {
  padding: em(32);
  background: $bg-pst-hd;
  border-top: solid 1px $pst-hd-br;
  border-bottom: solid 1px $pst-hd-br;
}

.post-header-text {
  margin: 1em 0;
}

.buttons {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-block;
    a {
      display: block;
      color: $bg-clr;
      background: $menu-clr;
      border-radius: em(7);
      text-transform: uppercase;
      margin: em(10) em(15) em(10) 0;
      padding: em(10);
      &:hover {
        background: $btn-hover;
      }
    }
  }
}

/* ======================================================================================
THREE SECTIONS
======================================================================================*/

.three-sections-content,
.article-content {
  padding: em(40) 0;
  .section-heading {
    margin-bottom: em(10);
  }
  .travel-img {
    max-width: 75%;
    height: auto;
    margin: em(5) auto;
  }
}

/* ======================================================================================
FOOTER
======================================================================================*/

.site-footer {
  background: darken($fnt-clr, 20%);
  padding: em(30) 0;
  p {
    font-size: em(14);
    margin: 0;
    a {
      color: lighten($fnt-clr, 20%);
      text-decoration: underline;
    }
  }
}

/* ======================================================================================
GALLERY
======================================================================================*/

.gallery-wrapper {
  background: $bg-pst-hd;
  border-top: 1px solid $pst-hd-br;
  border-bottom: 1px solid $pst-hd-br;
  padding: em(32);
  text-align: center;
}

.filter-button {
  display: inline-block;
  color: $bg-clr;
  background: $menu-clr;
  border-radius: em(7);
  text-transform: uppercase;
  margin: em(10) em(5) em(10) 0;
  padding: em(10);
  &:hover {
    background: $btn-hover;
  }
}

.gallery_product {
  margin-bottom: em(30);
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ======================================================================================
REGISTRATION
======================================================================================*/

.form {
  text-align: left;
  margin: em(70) 0;
}
.registration {
  padding: em(80) 0;
}

.article-buttons {
  text-align: center;
}

/* ======================================================================================
ARTICLES
======================================================================================*/

.article-content {
  text-align: center;
  p,
  h1 {
    text-align: left;
  }
}

@media all and (max-width: 400px) {
  .article-buttons li {
    display: block;
  }
}
