 .galerie {
     background: $bg-clr-light;
     padding: 4em 0;
     .section-header {
         h2 {
             background: $bg-clr-dark;
             color: $fnt-clr;
         }
     }
     .more-gallery {
         margin-top: 0;
         text-align: center;
         button {
             padding: 0;
             border: none;
             border-radius: 50%;
         }
         .if-collapsed,
         .if-not-collapsed {
             display: inline-block;
             background: $bg-clr-dark;
             color: $fnt-clr;
             font-size: 2.5em;
             border: 2px solid $fnt-clr;
             border-radius: 50%;
             padding: .3em .5em;
             &:hover {
                 color: $fnt-hover;
                 border: 2px solid $fnt-hover;
             }
         }
     }
 }
 
 .galerie-content img {
     max-width: 100%;
     height: auto;
     margin-bottom: 30px;
     border-radius: 5px;
     @include basicShadow;
     &:hover,
     &:focus {
         @include hoverShadow;
     }
 }
 /* přepínač znaménka na buttonu pro rozklinutí/skrytí galerie */
 
 [data-toggle="collapse"] {
     &.collapsed .if-not-collapsed {
         display: none;
     }
     &:not(.collapsed) .if-collapsed {
         display: none;
     }
 }
 
 #overlay {
     background: rgba(0, 0, 0, .7);
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 20;
     text-align: center;
 }
 
 #overlay img {
     margin: 4% 0;
     width: 60%;
     height: auto;
 }