 .galerie {
     background: $bg-clr-light;
     padding: 4em 0;
     .section-header h2,
     a {
         background: $bg-clr-dark;
         color: $fnt-clr;
     }
 }
 
 .galerie-content img {
     max-width: 100%;
     height: auto;
     margin-bottom: 30px;
     border-radius: 5px;
     @include basicShadow;
     &:hover,
     &:focus {
         transform: scale(1.05);
         transition: all .3s ease;
     }
 }
 /* přepínač textu na buttonu pro rozklinutí/skrytí galerie */
 
 [data-toggle="collapse"] {
     &.collapsed .if-not-collapsed {
         display: none;
     }
     &:not(.collapsed) .if-collapsed {
         display: none;
     }
 }