 .galerie {
     background: $bg-clr-light;
     padding: 4em 0;
     .section-header {
         h2 {
             background: $bg-clr-dark;
             color: $fnt-clr;
         }
     }
     .more-gallery {
         margin-top: 0;
         text-align: center;
         .if-collapsed,
         .if-not-collapsed {
             background: $bg-clr-dark;
             color: $fnt-clr;
             font-size: 2.5em;
             border: 2px solid $fnt-clr;
             border-radius: 50%;
             padding: .3em .5em;
             &:hover {
                 color: $fnt-hover;
                 border: 2px solid $fnt-hover;
             }
         }
     }
 }
 
 .galerie-content img {
     max-width: 100%;
     height: auto;
     margin-bottom: 30px;
     border-radius: 5px;
     @include basicShadow;
     &:hover,
     &:focus {
         transform: scale(1.05);
         transition: all .3s ease;
     }
 }
 /* přepínač textu na buttonu pro rozklinutí/skrytí galerie */
 
 [data-toggle="collapse"] {
     &.collapsed .if-not-collapsed {
         display: none;
     }
     &:not(.collapsed) .if-collapsed {
         display: none;
     }
 }