.post-header {
    width: 100%;
    padding: 10em 0 3em 0;
    background: url('/img/cover.jpg') bottom center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px transparentize($bg-clr-light, 0.5);
    font-size: 16px;
}

.intro {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.profile {
    display: block;
    width: 15em;
    margin: 0 auto;
    border-radius: 50%;
    border: solid .15em $fnt-clr;
    @include basicShadow;
    &:hover,
    &:focus {
        @include hoverShadow;
    }
}

.author-h1 {
    display: inline-block;
    background: transparentize($fnt-clr, 0.7);
    border-radius: 1em;
    font: {
        size: 2.5em;
        weight: 500;
    }
    text: {
        transform: uppercase;
        align: center;
    }
    letter-spacing: .1em;
    margin: 2em auto 4em auto;
    padding: .7em;
    &:hover,
    &:focus {
        cursor: default;
    }
    span {
        color: $bg-clr-dark;
    }
}

.rotating-text {
    display: inline;
}