.projects {
    background: url(../img/projects-bg2.jpg) fixed center center no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px transparentize($bg-clr-dark, 0.2);
    padding: 4em 0;
    .container {
        padding-bottom: 50px;
    }
}

.section-header {
    padding: 0;
    margin: 30px 0;
    text-align: center;
    h2 {
        display: inline-block;
        background: transparentize($bg-clr-light, 0.1);
        border: 2px solid $fnt-clr;
        border-radius: 1em;
        text-transform: uppercase;
        font: {
            size: 2em;
            weight: 300;
        }
        margin: 0 auto;
        padding: .5em 1em;
        @include basicShadow;
    }
}

.section-wrapper {
    padding: 1em;
}

.section {
    padding: 0 0 1em;
    text-align: center;
    background: transparentize($bg-clr-dark, 0.3);
    border: 4px solid transparentize($bg-clr-dark, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    @include basicShadow;
    overflow: hidden;
    &:hover {
        transition: .3s ease-in-out;
        background: transparentize($bg-clr-dark, 0.1);
        border: 4px solid transparentize($bg-clr-dark, 0.1);
        @include projectShadow;
    }
    h3 {
        font-weight: 300;
        padding: .7em 0;
        margin: 0;
    }
    img {
        box-sizing: border-box;
        max-width: 100%;
        height: auto;
    }
}

.button-project {
    display: inline-block;
    text: {
        transform: uppercase;
        align: center;
    }
    margin-top: 20px;
    a {
        display: block;
        padding: 1em;
        background: $bg-btn;
        color: $fnt-clr-dark;
        border-radius: 5px;
        font-weight: 600;
        &:hover,
        &:focus {
            transition: .3s ease-in-out;
            background: $bg-btn-hover;
            @include basicShadow;
        }
    }
}