/* Obecné */

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3 {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


/* Header */

.site-header {
    background: #121b21;
}

.header-content {
    text-align: center;
}

.header-content #logo {
    display: inline;
    position: relative;
    top: 9px;
}

.menu {
    display: inline-block;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    color: #a9cbcf;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    padding: 1em;
    margin: 0 0.5em;
}

.menu a:hover,
.menu a:focus {
    color: #fff;
}


/* Header - media queries */

@media all and (max-width: 600px) {
    .site-header a {
        font-size: 60%;
    }
}

@media all and (max-width: 440px) {
    .site-header #logo {
        display: block;
    }
    .site-header li {
        display: block;
    }
}


/* Introduction */

.introduction {
    background: #00afc4 url(../img/background.png) center 100% repeat-y;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.introduction-content h1 {
    color: #fff;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    line-height: 0.8em;
}

.introduction-content h2 {
    color: #0a343c;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    padding: 2.5em 0;
}

.introduction-content img {
    position: relative;
    z-index: 3;
    max-width: 40%;
    margin-top: -50px;
}

.introduction-content a {
    position: relative;
    display: block;
    margin-top: -36px;
    color: #121b21;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    background: url(../img/arrow.png) center 100% no-repeat;
    text-indent: 5px;
    line-height: 62px;
    z-index: 6;
}


/* Introduction - media queries */

@media all and (max-width: 1040px) {
    .introduction-content h1 {
        font-size: 90px;
    }
    .introduction-content h2 {
        font-size: 20px;
    }
}

@media all and (max-width: 785px) {
    .introduction-content h1 {
        font-size: 70px;
    }
    .introduction-content h2 {
        font-size: 15px;
    }
}


/* About us */

.about-us {
    position: relative;
    z-index: 4;
    padding: 20px 0;
    margin-top: -30px;
    text-align: center;
    background: #edf3f3 url(../img/lattice.gif) bottom repeat-x;
}

.about-us:before {
    background: linear-gradient(-45deg, #edf3f3 7px, transparent 0), linear-gradient(45deg, #edf3f3 7px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 14px 14px;
    content: " ";
    display: block;
    position: relative;
    z-index: 5;
    bottom: 32px;
    left: 0px;
    width: 100%;
    height: 14px;
}

.about-us p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5em;
}

.about-us h3 {
    color: #535b60;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin: 2.5em 0 0 0;
}

.about-us .links li {
    display: inline-block;
}

.about-us .links a {
    display: block;
    padding: 0 20px 40px 20px;
}


/* About us - media query */

@media all and (max-width: 1040px) {
    .about-us p {
        font-size: 18px;
    }
}

@media all and (max-width: 840px) {
    .about-us p {
        font-size: 16px;
    }
    .about-us .links li {
        display: block;
    }
    .about-us .links a {
        display: block;
        padding: 10px 0;
    }
}


/* What we do */

.what-we-do {
    padding: 50px 0;
    text-align: center;
}

.three-sections-heading {
    display: inline-block;
    color: #fff;
    background: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.4em;
    position: relative;
    top: 33px;
    left: 0;
}

.three-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 100px 0;
    border-top: #d6d6d6 2px solid;
    border-bottom: #d6d6d6 2px solid;
}

.section {
    flex: 1;
    max-width: 33.333%;
    padding: 35px;
    text-align: center;
}

.section h3 {
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 1em;
}

.section p {
    line-height: 1.5em;
}

.section a {
    color: #00afc4;
    text-decoration: underline;
}

.question p {
    display: inline-block;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

.button {
    color: #fff;
    position: relative;
    top: -15px;
    background: url(../img/blue-button.png) right center no-repeat;
    font-size: 0.3em;
    padding: 1em;
    letter-spacing: normal;
    margin-left: 1.5em;
}


/* What we do - media queries */

@media all and (max-width: 1280px) {
    .question p {
        font-size: 45px;
    }
}

@media all and (max-width: 1040px) {
    .section h3 {
        font-size: 20px;
    }
    .section p,
    .section a {
        font-size: 12px;
    }
    .question p {
        font-size: 30px;
    }
    .button {
        top: -5px;
    }
}

@media all and (max-width: 700px) {
    .three-sections {
        flex-flow: column;
    }
    .section {
        max-width: 50%;
    }
    .question p {
        font-size: 15px;
    }
    .button {
        top: -4px;
    }
}


/* Footer */

.footer {
    background: #edf3f3 url(../img/lattice.gif) top repeat-x;
    color: #abb2b4;
    text-align: center;
    margin: 0;
    padding: 30px 0;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu a {
    display: block;
    color: #535b60;
    font-size: 16px;
    font-weight: 700;
    padding: 2em 1.5em;
    letter-spacing: -0.05em;
}

.footer-menu img {
    position: relative;
    top: 8px;
}

.footer-content p {
    font-size: 14px;
    margin: 3em 0;
}


/* Footer - media queries */

@media all and (max-width: 1040px) {
    .footer-menu a {
        font-size: 12px;
    }
}

@media all and (max-width: 600px) {
    .footer-menu li {
        display: block;
    }
    .footer-content p {
        font-size: 10px;
    }
}