*{box-sizing:border-box;margin:0;padding:0}html,body{max-width:100vw;height:100%;overflow-x:hidden}body{margin:0;font-family:"system-ui",sans-serif;overflow-y:auto}#__next{height:100%;overflow-y:auto}
