@charset "UTF-8";
/* ======================================================================================
VARIABLES
======================================================================================*/
/* ======================================================================================
EM CALC
======================================================================================*/
/* ======================================================================================
OBECNÉ
======================================================================================*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  max-width: 100%;
  color: #666;
  background: #fff; }

h1 {
  color: #333;
  margin: 0;
  font-family: "PT Serif", serif; }

a,
a:hover,
a:active,
a:focus,
button:active,
button:focus {
  text-decoration: none;
  outline: none; }

.wrapper {
  max-width: 78.75em;
  margin: 0 auto;
  padding: 0 1.875em; }

/* Clearfix */
.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
  content: " ";
  display: table; }

.container:after,
.group:after,
.main:after {
  clear: both; }

.container,
.group,
.main {
  *zoom: 1; }

/* ======================================================================================
HEADER
======================================================================================*/
.site-header {
  margin: 0.75em 0; }

.site-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .site-header-content .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .site-header-content .site-menu {
    margin-left: auto; }

.nav {
  padding: 0.5625em 0; }
  .nav .nav-item a {
    color: #0099ff;
    display: block;
    font-size: 1em;
    padding: 0.625em 1.25em;
    border: solid 1px #fff; }
    .nav .nav-item a:hover, .nav .nav-item a:focus {
      color: #fff;
      background: #0099ff; }
  .nav .nav-item .selected {
    color: #fff;
    background: #0099ff; }

.hamburger {
  position: absolute;
  top: 1.875em;
  right: 2.1875em;
  display: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #0099ff;
    margin: 5px; }

.mobile {
  display: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

@media all and (max-width: 992px) {
  .site-header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .site-header-content .site-menu {
      margin: 0 auto; }
    .site-header-content .nav-item {
      display: block; }
    .site-header-content .hamburger {
      display: inline-block; } }
/* ======================================================================================
POST HEADER
======================================================================================*/
.post-header {
  padding: 2em;
  background: #f3f3f3;
  border-top: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2; }

.post-header-text {
  margin: 1em 0; }

.buttons {
  margin: 0;
  padding: 0; }
  .buttons li {
    list-style: none;
    display: inline-block; }
    .buttons li a {
      display: block;
      color: #fff;
      background: #0099ff;
      border-radius: 0.4375em;
      text-transform: uppercase;
      margin: 0.625em 0.9375em 0.625em 0;
      padding: 0.625em; }
      .buttons li a:hover {
        background: #8ebd01; }

/* ======================================================================================
THREE SECTIONS
======================================================================================*/
.three-sections-content,
.article-content {
  padding: 2.5em 0; }
  .three-sections-content .section-heading,
  .article-content .section-heading {
    margin-bottom: 0.625em; }
  .three-sections-content .travel-img,
  .article-content .travel-img {
    max-width: 75%;
    height: auto;
    margin: 0.3125em auto; }

/* ======================================================================================
FOOTER
======================================================================================*/
.site-footer {
  background: #333333;
  padding: 1.875em 0; }
  .site-footer p {
    font-size: 0.875em;
    margin: 0; }
    .site-footer p a {
      color: #999999;
      text-decoration: underline; }

/* ======================================================================================
GALLERY
======================================================================================*/
.gallery-wrapper {
  background: #f3f3f3;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 2em;
  text-align: center; }

.filter-button {
  display: inline-block;
  color: #fff;
  background: #0099ff;
  border-radius: 0.4375em;
  text-transform: uppercase;
  margin: 0.625em 0.3125em 0.625em 0;
  padding: 0.625em; }
  .filter-button:hover {
    background: #8ebd01; }

.gallery_product {
  margin-bottom: 1.875em; }
  .gallery_product img {
    max-width: 100%;
    height: auto; }

/* ======================================================================================
REGISTRATION
======================================================================================*/
.form {
  text-align: left;
  margin: 4.375em 0; }

.registration {
  padding: 5em 0; }

.article-buttons {
  text-align: center; }

.article-content {
  text-align: center; }
  .article-content p,
  .article-content h1 {
    text-align: left; }

/*# sourceMappingURL=style.css.map */