/* Obecné */

body {
    margin: 0 auto;
    color: #000;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    background: #f7f7f7;
    padding: 50px 120px 0 120px;
}


/* Hlavička */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    padding: 0 50px 0 50px;
}

.logo {
    -webkit-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    text-align: center;
}

.logo h1 {
    display: inline-block;
    text-align: center;
    margin: 0;
    font-size: 40px;
    letter-spacing: -1px;
}

.logo a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 3px;
    border: 3px solid transparent;
    border-radius: 10px;
}

.logo a:hover,
.logo a:focus {
    border: 3px solid #000;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.navbar {
    -webkit-box-flex: 2 0 auto;
    -ms-flex: 2 0 auto;
    flex: 2 0 auto;
}

.socials {
    font-size: 0;
    -webkit-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    text-align: center;
}

.socials a {
    display: inline-block;
    width: 1em;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    color: #000;
}

.socials a:hover,
.socials a:focus {
    background: #000;
    color: #fff;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.menu {
    font-size: 0;
    text-align: center;
    padding: 0;
}

.menu li {
    display: inline-block;
    text-decoration: none;
}

.menu a {
    display: block;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.menu a:hover,
.menu a:focus {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}


/* Hlavička media queries */

@media all and (max-width: 1150px) {
    header {
        padding: 0 25px;
        justify-content: center;
    }
    .logo h1 {
        font-size: 32px;
    }
    .menu a {
        font-size: 16px;
    }
    .socials a {
        font-size: 20px;
    }
}

@media all and (max-width: 858px) {
    .logo {
        order: 1;
    }
    .navbar {
        order: 3;
    }
    .socials {
        order: 2;
    }
}

@media all and (max-width: 526px) {
    header {
        flex-direction: column;
    }
    .navbar li {
        display: block;
    }
}


/* Hlavní obsah */

.photo img {
    width: 100%;
}

.text-content {
    padding: 30px;
}

.text-content h2 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 10px 0;
}

.text-content h3,
.author h3 {
    font-size: 28px;
    letter-spacing: -1px;
}

.text-content p {
    font-weight: 300;
    line-height: 30px;
}

.subheading {
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
}

main .container {
    border-top: 2px solid #cccccc;
}

.main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.left-mainbar {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin-right: 10px;
    background: #fff;
    border-bottom: 2px solid #cccccc;
}

.asidebar {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 10px;
}

.asidebar-wrapper {
    background: #fff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 20px 0;
    background: #000;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background: rgb(51, 51, 51);
}

.link {
    color: #000;
}


/* Hlavní obsah - media queries */

@media all and (max-width: 1150px) {
    .container {
        padding: 25px 60px 0 60px;
    }
    .button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media all and (max-width: 858px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .left-mainbar {
        margin: 0;
    }
    .asidebar {
        max-width: 75%;
        margin: 20px 0;
    }
}

@media all and (max-width: 526px) {
    .container {
        padding: 25px 30px 0 30px;
    }
    .main-content {
        font-size: 80%;
    }
    .main-content h2 {
        font-size: 25px;
    }
    .main-content h3 {
        font-size: 20px;
    }
    .subheading {
        font-size: 20px;
    }
    .button {
        font-size: 12px;
        padding: 6px 14px;
    }
}


/* Tři sekce */

.second-task .container {
    padding-bottom: 50px;
}

.section-header {
    padding: 0;
    margin: 30px 0;
}

.section-header h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.section-header h1 strong {
    font-weight: 700;
}

.three-sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 20px;
    background: #fff;
    border-bottom: 2px solid #cccccc;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}

.section img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px solid #8b8b8b;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.button-center {
    text-align: center;
    margin-top: 20px;
}


/* Tři sekce - media queries */

@media all and (max-width: 1150px) {
    .three-sections {
        flex-direction: column;
        align-items: center;
    }
    .section {
        max-width: 50%;
        margin-top: 30px;
    }
}

@media all and (max-width: 858px) {
    .section {
        max-width: 70%;
    }
}

@media all and (max-width: 526px) {
    .section {
        max-width: 90%;
    }
}


/* O autorovi */

.pre-footer {
    background: #2c1b1b;
    color: #fff;
}

.pre-footer .container {
    background: #2c1b1b;
    max-width: 50%;
}

.pre-footer-content {
    display: flex;
}

.author {
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 40px;
}

.feedback {
    flex: 1;
}

.profile-pic {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.profile-pic img {
    border-radius: 50%;
    border: 8px solid#8b8b8b;
}

.profile-info {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

.profile-info h3 {
    margin: 0;
}

.profile-info p {
    line-height: 24px;
}


/* O autorovi - media queries */

@media all and (max-width: 858px) {
    .author {
        flex-flow: column;
    }
    .profile-info {
        margin-top: 20px;
        font-size: 85%;
    }
    .profile-info h3 {
        font-size: 25px;
    }
}