@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

$fnt-family: "Montserrat", sans-serif;
$fnt-clr: #edf0f1;
$fnt-hover: #84a8e4;
$bg-clr: #2c3650;
