*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a,
a:hover,
a:active,
a:focus,
button:active,
button:focus {
    text-decoration: none;
    outline: none;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #263238;
    max-width: 100%;
}

.container {
    max-width: 71.875em;
    margin: 0 auto;
}